<div class="row">
    <div class="col-md-12">
        <p>Dodaj studenta:</p>
        <label for="">Ime</label>
        <input type="text" class="form-control" #imeStudenta>
        <label for="">O Studentu</label>
        <input type="text" class="form-control" #imeStudenta>
        <br>
        <button (click)="dodajStudentaMed(imeStudenta)" class="btn btn-secondary">Dodaj studenta medicine</button>
        <button (click)="dodajStudentaPrav(imeStudenta)" class="btn btn-secondary">Dodaj studenta prava</button>
    </div>
</div>
